<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/e90c4f19-def1-4e1d-9fcd-0c8d9a48eda2</string>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.0.0</string>
  </dict>
</plist>